extends ../base

block content
  .row
    .col

      
      
  .row.mt-2.p-3.h-75
    .col
      input.form-control.mb-1#content-title(type="text", name="title", placeholder="Title")
      .card.h-100
        .card-header
        .card-body.m-0.p-0
          #editor
        .card-footer

          button.btn.btn-primary.w-100#save-content Save
    //.col-2