ul.nav.nav-pills.flex-column
  li.nav-item
    a.nav-link.active(href='#') Pages
  li.nav-item
    a.nav-link(href='#') Posts
  li.nav-item
    a.nav-link(href='#') Widgets
  li.nav-item
    a.nav-link(href='#') Comments